 
  [data-md-color-scheme="youtube"] {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }

  [data-md-color-scheme="youtube_dark"] {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
    --md-default-bg-color: #fff;
    --md-default-bg-color--light: #ffffffb3;
    --md-default-bg-color--lighter: #ffffff4d;
    --md-default-bg-color--lightest: #ffffff1f;
      }

:root {
  --md-admonition-icon--pied-piper: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M244 246c-3.2-2-6.3-2.9-10.1-2.9-6.6 0-12.6 3.2-19.3 3.7l1.7 4.9zm135.9 197.9c-19 0-64.1 9.5-79.9 19.8l6.9 45.1c35.7 6.1 70.1 3.6 106-9.8-4.8-10-23.5-55.1-33-55.1zM340.8 177c6.6 2.8 11.5 9.2 22.7 22.1 2-1.4 7.5-5.2 7.5-8.6 0-4.9-11.8-13.2-13.2-23 11.2-5.7 25.2-6 37.6-8.9 68.1-16.4 116.3-52.9 146.8-116.7C548.3 29.3 554 16.1 554.6 2l-2 2.6c-28.4 50-33 63.2-81.3 100-31.9 24.4-69.2 40.2-106.6 54.6l-6.3-.3v-21.8c-19.6 1.6-19.7-14.6-31.6-23-18.7 20.6-31.6 40.8-58.9 51.1-12.7 4.8-19.6 10-25.9 21.8 34.9-16.4 91.2-13.5 98.8-10zM555.5 0l-.6 1.1-.3.9.6-.6zm-59.2 382.1c-33.9-56.9-75.3-118.4-150-115.5l-.3-6c-1.1-13.5 32.8 3.2 35.1-31l-14.4 7.2c-19.8-45.7-8.6-54.3-65.5-54.3-14.7 0-26.7 1.7-41.4 4.6 2.9 18.6 2.2 36.7-10.9 50.3l19.5 5.5c-1.7 3.2-2.9 6.3-2.9 9.8 0 21 42.8 2.9 42.8 33.6 0 18.4-36.8 60.1-54.9 60.1-8 0-53.7-50-53.4-60.1l.3-4.6 52.3-11.5c13-2.6 12.3-22.7-2.9-22.7-3.7 0-43.1 9.2-49.4 10.6-2-5.2-7.5-14.1-13.8-14.1-3.2 0-6.3 3.2-9.5 4-9.2 2.6-31 2.9-21.5 20.1L15.9 298.5c-5.5 1.1-8.9 6.3-8.9 11.8 0 6 5.5 10.9 11.5 10.9 8 0 131.3-28.4 147.4-32.2 2.6 3.2 4.6 6.3 7.8 8.6 20.1 14.4 59.8 85.9 76.4 85.9 24.1 0 58-22.4 71.3-41.9 3.2-4.3 6.9-7.5 12.4-6.9.6 13.8-31.6 34.2-33 43.7-1.4 10.2-1 35.2-.3 41.1 26.7 8.1 52-3.6 77.9-2.9 4.3-21 10.6-41.9 9.8-63.5l-.3-9.5c-1.4-34.2-10.9-38.5-34.8-58.6-1.1-1.1-2.6-2.6-3.7-4 2.2-1.4 1.1-1 4.6-1.7 88.5 0 56.3 183.6 111.5 229.9 33.1-15 72.5-27.9 103.5-47.2-29-25.6-52.6-45.7-72.7-79.9zm-196.2 46.1v27.2l11.8-3.4-2.9-23.8zm-68.7-150.4l24.1 61.2 21-13.8-31.3-50.9zm84.4 154.9l2 12.4c9-1.5 58.4-6.6 58.4-14.1 0-1.4-.6-3.2-.9-4.6-26.8 0-36.9 3.8-59.5 6.3z"/></svg>')
}
.md-typeset .admonition.pied-piper,
.md-typeset details.pied-piper {
  border-color: rgb(43, 155, 70);
}
.md-typeset .pied-piper > .admonition-title,
.md-typeset .pied-piper > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .pied-piper > .admonition-title::before,
.md-typeset .pied-piper > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--pied-piper);
          mask-image: var(--md-admonition-icon--pied-piper);
}

:root {
  --md-admonition-icon--business-intelligence: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M64 400h64v64H64zm128-192h64v256h-64zM320 288h64v160h-64zM448 160h64v288h-64zM576 32v448H0V32h576zm-32 32H32v384h512V64zm-288 88c0-8.84-7.16-16-16-16H64c-8.84 0-16 7.16-16 16v80h64v-40h64v40h64v-80zm160 64c0-26.51-21.49-48-48-48h-64c-26.51 0-48 21.49-48 48v48h160v-48zm80 32c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16h-16v-40c0-26.51-21.49-48-48-48H368c-26.51 0-48 21.49-48 48v40h-16c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h240z"/></svg>');
}
.md-typeset .admonition.business-intelligence,
.md-typeset details.business-intelligence {
  border-color: rgb(24, 144, 255);
}
.md-typeset .business-intelligence > .admonition-title,
.md-typeset .business-intelligence > summary {
  background-color: rgba(24, 144, 255, 0.1);
}
.md-typeset .business-intelligence > .admonition-title::before,
.md-typeset .business-intelligence > summary::before {
  background-color: rgb(24, 144, 255);
  -webkit-mask-image: var(--md-admonition-icon--business-intelligence);
          mask-image: var(--md-admonition-icon--business-intelligence);
}

:root {
--md-admonition-icon--custom: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><"<path d="M226.6 48H117.3l17.1 12.8c6 4.5 9.6 11.6 9.6 19.2s-3.6 14.7-9.6 19.2l-6.5 4.9c-10 7.5-16 19.3-16 31.9l-.3 91c0 10.2 4.9 19.9 13.2 25.8l1.9 1.3c9.9 7.1 23.3 7 33.2-.1l49.9-36.3c10.7-7.8 25.7-5.4 33.5 5.3s5.4 25.7-5.3 33.5l-49.9 36.3-53.8 39.1c-7.3 5.3-13 12.2-16.9 20.1H66.7c5.3-22.1 17.8-41.9 35.9-56.3-1.3-.8-2.6-1.7-3.8-2.6l-1.8-1.3c-21-15-33.4-39.2-33.3-65l.3-91c.1-19.8 6.7-38.7 18.6-53.9l-.4-.3C70.7 73 64 59.6 64 45.3 64 20.3 84.3 0 109.3 0h117.3C331.2 0 416 84.8 416 189.4c0 11.1-1 22.2-2.9 33.2l-23 129.4h-48.8l24.5-137.8c1.5-8.2 2.2-16.5 2.2-24.8C368 111.3 304.7 48 226.6 48M85.2 432l-16.5 32h310.7l-16.6-32zm315.7-30.7 26.5 51.2c3 5.8 4.6 12.2 4.6 18.7 0 22.5-18.2 40.8-40.8 40.8H56.8C34.2 512 16 493.8 16 471.2c0-6.5 1.6-12.9 4.6-18.7l26.5-51.2c5.4-10.6 16.4-17.3 28.4-17.3h297c12 0 22.9 6.7 28.4 17.3M172 128a20 20 0 1 1 0 40 20 20 0 1 1 0-40"/></svg>')
}

.md-typeset .admonition.custom,
.md-typeset details.custom {
  border-color: rgb(24, 144, 255);
}
.md-typeset .custom > .admonition-title,
.md-typeset .custom > summary {
  background-color: rgba(24, 144, 255, 0.1);
}
.md-typeset .custom > .admonition-title::before,
.md-typeset .custom > summary::before {
  background-color: rgb(24, 144, 255);
  -webkit-mask-image: var(--md-admonition-icon--custom);
          mask-image: var(--md-admonition-icon--custom);
}


:root {
  --md-admonition-icon--custom2: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><"path d="M19.375 8.5a3.25 3.25 0 1 1-3.163 4h-3a3.252 3.252 0 0 1-4.443 2.509L7.214 17.76a3.25 3.25 0 1 1-1.342-.674l1.672-2.957A3.24 3.24 0 0 1 6.75 12c0-.907.371-1.727.97-2.316L6.117 6.846A3.253 3.253 0 0 1 1.875 3.75a3.25 3.25 0 1 1 5.526 2.32l1.603 2.836A3.25 3.25 0 0 1 13.093 11h3.119a3.25 3.25 0 0 1 3.163-2.5M10 10.25a1.75 1.75 0 1 0-.001 3.499A1.75 1.75 0 0 0 10 10.25M5.125 2a1.75 1.75 0 1 0 0 3.5 1.75 1.75 0 0 0 0-3.5m12.5 9.75a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 0 0-3.5 0m-14.25 8.5a1.75 1.75 0 1 0 3.501-.001 1.75 1.75 0 0 0-3.501.001"/></svg>')
  
  }
  
  .md-typeset .admonition.custom2,
  .md-typeset details.custom2 {
    border-color: rgb(24, 144, 255);
  }
  .md-typeset .custom2 > .admonition-title,
  .md-typeset .custom2 > summary {
    background-color: rgba(24, 144, 255, 0.1);
  }
  .md-typeset .custom2 > .admonition-title::before,
  .md-typeset .custom2 > summary::before {
    background-color: rgb(24, 144, 255);
    -webkit-mask-image: var(--md-admonition-icon--custom2);
            mask-image: var(--md-admonition-icon--custom2);
  }